/*---------- popup ----------*/
$popup-back: rgba( 0, 0, 0, .9 );
$popup-close-back: rgba( 255, 255, 255, 1 );
/*---------- /popup ---------*/

/*---------- websters-select ----------*/
$websters-select-border: #512c1d;
$websters-select-border-active: #ab2638;
$websters-select-popup-back: #fff;
$websters-select-popup-item-active-color: #ec1c2c;
$websters-select-popup-item-active-back: #ebebeb;
/*---------- /websters-select ---------*/

/*---------- nice-radio ----------*/
$nice-radio-after-color: #000;
$nice-radio-color: #000;
/*---------- /nice-radio ---------*/

/*---------- nice-checkbox ----------*/
$nice-checkbox-after-color: #000;
$nice-checkbox-color: #000;
/*---------- /nice-checkbox ---------*/

/*---------- btn ----------*/
$btn-back: #ff0;
$btn-back-hover: #ffa;
$btn-back-active: #000;
$btn-color: #000;
$btn-color-active: #ff0;

$btn-2-back: #f00;
$btn-2-back-hover: #f0a;
$btn-2-back-active: #000;
$btn-2-color-active: #f0a;
/*---------- /btn ---------*/