.product-single {
  padding: 30px 14px 45px;
  text-align: center;
  color: #9a9a9a;
  line-height: 17px;

  p {
    margin: 0 0 19px;
  }

}
.product-single__layout {
  max-width: 700px;
  margin: 0 auto;
}
.product-single__info {
  position: relative;
}
.product-single__items {
  position: relative;
}
.product-single__price {
  display: block;
  margin: 0 0 18px;
  color: #512d1d;
  font-size: 17px;
  line-height: 20px;
  @include main-font4();
}
.product-single__show {
  margin: 0 0 22px;
  display: inline-block;
  vertical-align: top;
  color: #9a9a9a;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

}
.product-single__gallery {
  margin: 0 -15px 39px;
  height: 300px;

  .swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .slick-list {
    padding: 0 3px !important;
  }
  .slick-container__slide {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .gallery__top {
    overflow: hidden;
    height: 68.6%;
    width: 100%;

    .slick-container__slide {
      height: 205px;
    }

  }
  .gallery__thumbs {
    padding: 0 5px;
    width: 155px;
    height: 78px;
    box-sizing: border-box;
    margin: 18px auto 0;

    .slick-container__slide {
      //width: 49% !important;
      height: 78px;
      opacity: 0.4;
      cursor: pointer;
      border: 1px solid transparent;
      -webkit-transition: opacity 0.3s ease, border 0.3s ease;
      transition: opacity 0.3s ease, border 0.3s ease;
    }
    .slick-current {
      opacity: 1;
      border: 1px solid #d7d7d7;
    }

  }

}
.product-single__quantity {
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;

  form {
    >span {
      display: block;
      margin: 0 0 9px;
    }
  }
  .btn {
    margin: 8px auto 0;
    width: 75%;
    max-width: 300px;
  }

}
.product-single__quantity-change {
  margin: 0 0 16px;
}
.product-single__info-message {
  position: absolute;
  left: 0;
  z-index: 4;
  bottom: 10px;
  font-size: 16px;
  line-height: 18px;
  color: #512c1d;
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease, top 0.5s ease, left 0.5s ease;
  transition: opacity 0.3s ease, visibility 0.3s ease, top 0.5s ease, left 0.5s ease;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
  &.visible {
    opacity: 1;
    visibility: visible;
  }

}

@media (min-width: $desktop) {

  .product-single {
    padding: 53px 14px 85px;
    text-align: left;

    p {
      margin: 0 0 30px;
    }

  }
  .product-single__layout {
    max-width: 1208px;
  }
  .product-single__info {
    padding-left: 41.5%;
  }
  .product-single__gallery {
    position: absolute;
    top: 0;
    left: 0;
    width: 41%;
    height: 558px;
    margin: 0;
    max-width: 100%;

    .swiper-container {
      width: 100%;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
    }
    .slick-container__slide {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    .gallery__top {
      height: 65.6%;
      width: 100%;

      .slick-container__slide {
        height: 366px;
      }

    }
    .gallery__thumbs {
      width: 57.2%;
      height: 138px;
      box-sizing: border-box;
      margin: 31px auto 0;

      .slick-container__slide {
        height: 138px;
      }

    }

  }
  .product-single__price {
    margin: 0 0 17px 4px;
    font-size: 30px;
    line-height: 34px;
  }
  .product-single__items {
    padding: 186px 81px 0 3px;
    line-height: 25px;
  }
  .product-single__quantity {
    position: absolute;
    top: 0;
    left: 2px;
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 4px;

    form {
      >span {
        display: inline-block;
        vertical-align: middle;
        margin: 4px 0 0 0;
      }
    }
    .btn {
      margin: 37px auto 0;
      width: 100%;
      max-width: 260px;
      height: 54px;
    }

  }
  .product-single__quantity-change {
    display: inline-block;
    vertical-align: middle;
    margin: 0 13px 0 0;
  }

}


